html{
  background-image: url(../images/paladin-island-w-overlay.jpg);
    background-size: cover;
  background-repeat: no-repeat;
}

body {
  height: 98vh;
}

h1, p, button {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 2rem;
  background-color: rgba(82, 82, 82, 0.527);
  color: white;
  outline-color: white;
}

aside p {
  text-align: center;
  color: white;
}

header, aside, main {
  display: flex;
}

header {
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

aside {
  height: 100%;
  flex-direction: column;
  margin-right: 1rem;
  justify-content: center;
}

main {
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

aside div {
  height: 14%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.card {
  height: 28%;
  margin-right: .5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: transform .5s linear;
}

.card-front{
  background-size: contain;
}

.card-back {
  background-color: white;
  background-image: url(../images/pokemon-card-back.jpg);
}

.card-back:hover {
  cursor: pointer;
}

.bulbasaur {
  background-image: url(../images/bulbasaur.gif);
}

.butterfree {
  background-image: url(../images/butterfree.gif);
}

.charmander {
  background-image: url(../images/charmander.gif);
}

.dugtrio {
  background-image: url(../images/dugtrio.gif);
}

.lapras {
  background-image: url(../images/lapras.gif);
}

.mew {
  background-image: url(../images/mew.gif);
}

.pikachu {
  background-image: url(../images/pikachu.gif);
}

.snorlax {
  background-image: url(../images/snorlax.gif);
}

.squirtle {
  background-image: url(../images/squirtle.gif);
}


.modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.modal-content {
  border: 5px;
  width: 820px;
  height: 425px;
  border: 5px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-image: url(../images/pokemon-text-box.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.modal-content button {
  width: 80%;
  height: 25%;
  color: rgb(204, 196, 196);
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  border-radius: 50px;
  border: none;
  transition: all 0.4s ease 0s;
  color: black;
}

button {
  color: white;
}

button:hover {
  cursor: pointer;
}

.modal-content button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


.hidden {
  display: none;
}

@media screen
  and (max-width: 768px)
 {

  h1 {
    font-size: 14px;
  }

aside {
flex-direction: row;
justify-content: space-evenly;
height: 10%
}

p {
  font-size: 8px;
  color: #ffffff;
}

aside div {
  height: 100%;
  background-color: transparent;
}

.width-small{
  width: 100%;
}

.row-2 {
flex-direction: column
}

.modal-content {
  width: 92%;
  height: 27%;
}
 }
